@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  &::selection {
    background-color: #5f29b7;
    color: white;
  }
}

.roboto {
  font-family: "Roboto", sans-serif;
}

img,
button,
iframe,
a {
  user-select: none;
}

.slidein {
  animation: slideAnimation 1s ease var(--slidein-delay, 0) forwards;
}

@keyframes slideAnimation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.myShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.active {
  color: #be96ff;
}

/* sign in  */

.bgSignIn {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.795)),
    url(/public/home/signInBg.png) center/cover;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  /* Hide scrollbar in IE/Edge */
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
}
